<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <form action="/" method="post">
        Add Todo <br>
        <input style="width: 500px;" name="textarea"  cols="10" rows="10"></input>
        <br>
        

        <button class="green" type="submit">Create</button>
    </form>
</body>
</html>
