<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <span style="color: red;" id="error_message"></span>
    <a href="/">Home</a>
    <br>
    <form onsubmit="event.preventDefault()" id="form">
      
        <input style="width: 500px;" name="textarea"  cols="10" rows="10" value="<%= todo.textarea %>"></input>
        <br>
        

        <button  onclick="updateTodo(`<%= todo.id %>`);">Update Todo</button>
    </form>
</body>
</html>
